BasedOnStyle: LLVM
ColumnLimit: 999
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignTrailingComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^<[a-z_]+>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^"'
    Priority: 3